body {
    background-color: #f9f9f9 !important;
}

.nav-link:hover {
    color: rgb(0, 0, 0) !important;
}

input.form-control:focus,
input.form-control:active {
    outline: none;
    border-color: none;
    box-shadow: none;
}

.text-justify {
    text-align: justify;
}

@media (min-width: 992px) {
    .container {
        width: 820px !important;
    }
}